<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini massage board</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach((item, idx) => { %>
      <li>
        <h2><%= item.username %></h2>
        <p><%= item.text %></p>
        <p><%= item.date %></p>
        <a href=<%= `message/${item.id}` %> >Look details</a>
        <a href=<%= `message/delete/${item.id}` %> >Delete</a>

      </li>
      <% }) %>
    </ul>
    <a href="./new"> <button type="button">New message</button></a>
  </body>
</html>
